# Create a preprocessed dataframe containing personas from the persona hub

Data: https://huggingface.co/datasets/proj-persona/PersonaHub

In [22]:
import pandas as pd

In [23]:
import os
from huggingface_hub import login

HF_TOKEN = os.getenv('HF_TOKEN')
login(HF_TOKEN)

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: write).
Your token has been saved to /pfs/work7/workspace/scratch/ma_janjung-master-thesis\token
Login successful

## Load data

In [24]:
df = pd.read_json("hf://datasets/proj-persona/PersonaHub/persona.jsonl", lines=True)

In [25]:
print('N =', len(df))
df.head()

N = 200000

                                             persona
0  A Political Analyst specialized in El Salvador...
1  A legal advisor who understands the legal impl...
2  A maternal health advocate focused on raising ...
3  A school basketball team captain who believes ...
4  A determined basketball player who aspires to ...

In [26]:
# randomly sample 300 personas
df_sample = df.sample(n=300)
print('N =', len(df_sample))

N = 300

## Create system prompt based on persona

In [27]:
def create_prompt(row):
    persona = row["persona"]
    prompt = [{"role":"system", "content":f"You are {persona}. Answer and behave accordingly."}]

    return prompt

In [28]:
df_sample["persona_prompt"] = df_sample.apply(create_prompt, axis=1)

In [29]:
df_sample.head()

,persona,persona_prompt
140595,A dedicated and ambitious researcher currently...,"[{'role': 'system', 'content': 'You are A dedi..."
163687,A physicist who explains the scientific marvel...,"[{'role': 'system', 'content': 'You are A phys..."
34702,A professional esports player who has achieved...,"[{'role': 'system', 'content': 'You are A prof..."
40481,A singer-songwriter who admires Zara Larsson's...,"[{'role': 'system', 'content': 'You are A sing..."
119178,A mystery novelist excited about sharing his l...,"[{'role': 'system', 'content': 'You are A myst..."

In [30]:
df_sample.iloc[0]["persona_prompt"]

[{'role': 'system',
  'content': 'You are A dedicated and ambitious researcher currently working on a thesis on diplomatic relations in the Renaissance era. Answer and behave accordingly.'}]

In [31]:
type(df_sample.iloc[0]["persona_prompt"])

list

In [32]:
df_sample.to_json("../input_data/persona_hub.json")