In [14]:
import pandas as pd

In [ ]:
data = {
        "message": ["one", "one", "two"],
        "list": [[{"content":"test"}], [{"content":"test"}], [{"content":"test"}]]
        }

df = pd.DataFrame(data)

df

     A                      B
0  one  [{'content': 'test'}]
1  one  [{'content': 'test'}]
2  two  [{'content': 'test'}]

In [21]:
def add_new(row):
    list = row["B"]
    a = row["A"]

    add_on = {"content": a}

    list.append(add_on)
    print(list)

    return list

In [22]:
df["new"] = df.apply(add_new, axis=1)

df

[{'content': 'test'}, {'content': 'one'}]
[{'content': 'test'}, {'content': 'one'}]
[{'content': 'test'}, {'content': 'two'}]

,A,B,new
0,one,"[{'content': 'test'}, {'content': 'one'}]","[{'content': 'test'}, {'content': 'one'}]"
1,one,"[{'content': 'test'}, {'content': 'one'}]","[{'content': 'test'}, {'content': 'one'}]"
2,two,"[{'content': 'test'}, {'content': 'two'}]","[{'content': 'test'}, {'content': 'two'}]"