In [7]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("../data/MSS.csv", sep=";")

In [45]:
df

   id                                               item
0   1  Discrimination against women is no longer a pr...
1   2  Women often miss out on good jobs due to sexua...
2   3  It is rare to see women treated in a sexist ma...
3   4  On average, people in our society treat husban...
4   5  Society has reached the point where women and ...
5   6  It is easy to understand the anger of women’s ...
6   7  It is easy to understand why women’s groups ar...
7   8  Over the past few years, the government and ne...

In [46]:
df["reversed"] = np.where(df["id"].isin([1,3,4,5,6,8]), True, False)

In [47]:
df

   id                                               item  reversed
0   1  Discrimination against women is no longer a pr...      True
1   2  Women often miss out on good jobs due to sexua...     False
2   3  It is rare to see women treated in a sexist ma...      True
3   4  On average, people in our society treat husban...      True
4   5  Society has reached the point where women and ...      True
5   6  It is easy to understand the anger of women’s ...      True
6   7  It is easy to understand why women’s groups ar...     False
7   8  Over the past few years, the government and ne...      True

In [49]:
df.to_csv("../data/MSS.csv", sep=",")